body{
    background-color: rgb(116, 190, 246);
    
}

.Header {
   display: flex;
    
    
};
header p {
    font-size: 25px;
}




.About-Me {
    display: flex

};

.Github {

};

.Email {

};

.Footer {

};